@charset "UTF-8";

.nav
{
	display:flex;
	font-size: 30px;
	font-family: sans-serif;
	justify-content:center;
	
}
a
{
	color: black;
	text-decoration: none;
	cursor:pointer;
	
}



a:hover
{
	color: rgb(255,255,255);
}

.scelta
{
	border: 2px, solid, black;
	font-size: 20px;
	padding: 0px 5px 0px 5px;
	float: left;
	transition: background-color 0.3s;
}


.scelta:hover
{
	background-color:blue;
}



.index
{
	
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	
}
.toLogin
{
	transition: background-color 0.3s;
	border: 2px, solid, black;
	
}



.toLogin:hover
{
	
	background-color:blue;
}


body,html
{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, rgba(102,255,102,0.5), rgba(102,255,178,0.5), rgba(102,255,255,0.5), rgba(255,255,255,0.5));
	background-repeat: no-repeat;
	overflow: hidden;
}


.login
{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: -10%;
}
h1
{
	font-size: 25px;
	font-family: cursive;
}
.registrazione
{
	color: rgb(0,0,0);
	width:9,5%;
	transition: background-color 0.3s;
	font-size: 15px;
	text-align: center;
}


.registrazione:hover 
{
	color: rgb(255,255,255);
	background-color: blue;
}


.submit
{
	color: rgb(0,0,0);
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.3s;
}


.submit:hover
{
	color: rgb(255,255,255);
	background-color: blue;
}


.navAdmin
{
	display:flex;
	justify-content: center;
}


.gestione
{
	border: 2px, solid, black;
	font-size: 20px;
	padding: 0px 5px 0px 5px;
	float:left;
}


.logoHome
{
	width:70%;
}

.divLogoHome
{
	display: flex;
	justify-content: center;
}


#footer
{
	display: flex;
	justify-content: center;
	background:transparent;
	position: relative;
	padding: 20px;
	margin:0;
}


.logoNav
{
	width:25%;
}

.divLogoNav
{
	display:flex;
	justify-content:center;
	
}


.insert
{
	display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
}

.mod
{
	display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 20px;
}


.op
{
	
	margin:0;
	font-size: 20px;
}


.ric
{
	text-align:center;
	margin:0;
	font-size: 20px;
}


.stampa
{
	margin:0;
	font-size: 20px;
}

.stampaRidotta
{
	margin:0;
	font-size: 19px;
}



.insertSede
{
	display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: -5%;
}


.insertOp
{
		display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: -5%;
}




.modOp
{
		display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: -30%;
}



.modServ
{
		display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: -25%;
}





.insertOrd
{
		display: flex;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 30px;
	margin-top: -13%;
}
















